* {
    margin: 0;
    padding: 0;
}


h2 {
    font-size: 50px;
    font-family: "Sitka Text";
    margin-bottom: 10px;
}
.bg {
    display: block;
    position: relative;
    height: 100%;
    width: 100vh;
    background: #999;
    }

.center {
    position: relative;
    height: 200px;
    width: 400px;
    background: #999;
    display: block;
    text-align: center;
    line-height: 50px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    color: #0100dd
   }

.link1, .link2 {
    display: block;
    /*border: 1px solid black;*/
    /*border-radius: 20px;*/
    height: 50px;
    width: 150px;
    line-height: 40px;
    position: absolute;
    padding: 1px;
    top: 80px;
    text-decoration: none;
    font-size: 30px;
    color: #0100dd;
    cursor: pointer;

}

.link1 {
    left: 30px;

}

.link2 {
    right: 30px;
}

