.bg {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    background: #999;
}

.formLogin {
    position: relative;
    height: 200px;
    width:300px;
    background: #999;
    left: calc(50% - 150px);
    top: calc(50% - 100px);
    text-align: center;
    color: #0100dd

}

a {
    position: absolute;
    text-decoration: none;
    color: #0100dd;
    right: 20px;
    font-size: 20px;

}


button {
    position: absolute;
    text-decoration: none;
    color: #0100dd;
    left: 30px;
    background: #999;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


input {
    margin-bottom: 15px;
    height: 20px;
    width: 250px;
}