.container-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  min-width: 800px;
  margin-bottom: 20px;
}

.div-week {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  float: left;
  transition: 2s linear;
}

.button-week {
  margin-top: 10px;
}
