.one-doctor-wrap {
  display: flex;
  margin-top: 20px;
  max-width: 904px;
  flex-wrap: wrap;
  justify-content: center;
}
.one-doctor-section-data {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  background-color: white;
  min-height: 300px;
  width: 450px;
  margin: 1px;
}

.one-doctor-section-calendar {
  background-color: white;
  width: 450px;
  margin: 1px;
}
.name-specialization {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70px;
  margin: 0 10px 0 20px;
  justify-content: space-between;
  font-size: 17px;
  line-height: 20px;
}

.wrap-free-term-week {
  height: 250px;
  overflow: hidden;
  margin-bottom: 5px;
}

.wrap-free-term-week-down {
  margin-bottom: 5px;
}

.arrow {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-top: 2px solid #f5f5f5;
  color: #2a88fc;
}
.arrow-up {
  transition: transform 0.3s ease;
}
.arrow:hover .arrow-up {
  transform: translateY(-4px);
}
.arrow-down {
  transition: transform 0.3s ease;
}
.arrow:hover .arrow-down {
  transform: translateY(4px);
}

.address {
  display: flex;
  align-items: center;
  margin: 30px 0 0 0;
}

.p-address {
}

.avatar-name-star {
  display: flex;
  margin: 20px 0 0 0;
}
.span-name {
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto;
}

.price-div {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.address-price-div {
  display: flex;
  flex-direction: column;
}

.i-one {
  margin-right: 13px;
}
