.one-doctor-wrap {
  display: flex;
  margin-top: 20px;
  width: 950px;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  align-items: stretch;
}
.one-doctor-section-data {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  background-color: white;
  min-height: 300px;
  width: 50%;
  margin: 1px;
}

.one-doctor-section-calendar {
  background-color: white;
  width: 50%;
  margin: 1px;
  min-height: 300px;
}
.name-specialization {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70px;
  margin: 0 10px 0 20px;
  justify-content: space-between;
  font-size: 17px;
  line-height: 20px;
}

.wrap-free-term-week {
  height: 250px;
  overflow: hidden;
  margin-bottom: 5px;
}

.wrap-free-term-week-down {
  margin-bottom: 5px;
}

.arrow {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-top: 2px solid #f5f5f5;
  color: #2a88fc;
}
.arrow-up {
  transition: transform 0.3s ease;
}
.arrow:hover .arrow-up {
  transform: translateY(-4px);
}
.arrow-down {
  transition: transform 0.3s ease;
}
.arrow:hover .arrow-down {
  transform: translateY(4px);
}

.address {
  display: flex;
  align-items: center;
  margin: 30px 0 0 0;
}

.p-address {
}

.avatar-name-star {
  display: flex;
  margin: 20px 0 0 0;
}
.span-name {
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto;
}

.price-div {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.address-price-div {
  display: flex;
  flex-direction: column;
}

.i-one {
  margin-right: 13px;
}
.p-service {
  margin-right: 10px;
}
.button-visible,
.x-visible {
  display: none;
}

@media (max-width: 1000px) {
  .one-doctor-wrap {
    flex-direction: column;
    width: 700px;
  }
  .one-doctor-section-data {
    width: 100%;
  }
  .one-doctor-section-calendar {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .one-doctor-wrap {
    width: 500px;
    min-height: 300px;
  }
  .visible {
    display: none;
  }
  .button-visible {
    display: block;
    height: 35px;
    width: 80px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #eef4fd;
    color: #2a88fc;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
  }

  .button-visible:hover {
    cursor: pointer;
    border-color: cornflowerblue;
    background-color: #e1ecfc;
  }
  .x-visible {
    display: block;
    width: 15px;
    height: 15px;

    font-size: 13px;
    margin: 8px 0 0 8px;
    color: darkgray;
    cursor: pointer;
  }
  .wrap-free-term-week,
  .wrap-free-term-week-down {
    margin-top: -10px;
  }
}
