.bg {
  display: block;
  height: 100%;
  width: 100%;
}

.headerAccountPatient {
  width: 100%;
  background-color: green;
  height: 10vh;
  line-height: 10vh;
}

.h2AccountPatient {
  font-size: 30px;
}
