.container-CUF {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #eff3f8;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 80%;
  height: 90vh;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 0 2px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.12);
  padding-bottom: 20px;
}

.container-input {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.container-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.container-input {
  width: 90%;
}
.p-inputtext {
  width: 100%;
}

.container-div .container-input {
  width: 47%;
}
.send-form {
  margin-top: 10px !important;
}
#register-h2 {
  color: #6366f1;
  font-size: 30px;
}
.messages {
  width: 300px;
  position: fixed;
  font-size: 1px;
  top: 0;
  right: 10px;
}
