
.a {
    position: relative;
    left: calc(50% - 323px);
    width: 647px;
    height: auto;
    overflow: hidden;
    /*background-color: cornflowerblue;*/
}



._divWeek {
    display: flex;
    /*position: relative;*/
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
    /*left: 25%;*/
    float: left;
    transition: 2s linear;
    /*overflow: hidden;*/

}

button:enabled ._divWeek {
   background-color: chartreuse;

}

._moveRight {
    position: absolute;
    left: calc(50% + 342px);
    top: 95px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    background-color:#eef4fd;

}

._moveRight:hover {
    background-color: rgba(5, 246, 218, 0.99);
}
._moveRightNone {
    position: absolute;
    left: calc(50% + 342px);
    top: 95px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    cursor: no-drop;
    font-size: 22px;

}

._moveLeft {
    position: absolute;
    left: calc(50% - 372px);
    top: 95px;
    height: 30px;
    width: 30px;
    font-size: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    background-color:#eef4fd;
    font-weight: bold;
}
._moveLeft:hover {
    background-color: rgba(5, 246, 218, 0.99);
}



._moveLeftNone {
    position: absolute;
    left: calc(50% - 372px);
    top: 95px;
    height: 30px;
    width: 30px;
    font-size: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    cursor: no-drop;
}