
.bg {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;

}

.formRegister {
    position: relative;
    height: 400px;
    width:300px;

    left: calc(50% - 150px);
    top: calc(50% - 250px);
    text-align: center;
    color: #0100dd

}

.infCreate {
    position: absolute;
    height: 100px;
    width: 400px;
    font-size: 25px;
    left: calc(50% - 200px);
    top: calc(40% - 50px);
    color: #0100dd;
    text-align: center;
}

.log {
    position: absolute;
    height: 40px;
    width: 160px;
    line-height: 40px;
    text-align: center;
    left: calc(50% - 80px);
    top: 50%;
    /*background: #44dd47;*/
    /*border: 2px solid;*/
    color: #ce35dd;
    font-size: 30px;
    font-weight: bold;
}

