* {
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  position: absolute;
  right: 7%;
  top: 3%;
  align-items: center;
  /*background: green;*/
}

.main-bg {
  width: 100%;
  height: 100vh;
  max-width: 100%;

  overflow: hidden;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: 15%;
  top: 30%;
  width: 45%;
  font-family: 'Yu Gothic Medium';
}

.slogan-h2 {
  font-size: 50px;
  font-family: 'Yu Gothic';
}

.slogan-h2-up {
}
.slogan-h2-down {
}
.slogan-h2-third {
  color: #345ddd;
}

.slogan-h3 {
  font-size: 15px;
  color: darkgrey;
  width: 90%;
  font-family: 'Yu Gothic Light';
}

.logo {
  position: absolute;
  left: 5%;
  top: 3%;
  width: 80px;
  height: 80px;
  background-image: url('/public/logo-19.svg');
  background-repeat: no-repeat;
}

.png {
  position: absolute;
  top: 20%;
  background-image: url('/public/doctors12.jpg');
  width: 450px;
  height: 490px;
  background-repeat: no-repeat;
}

.check-logout {
  background: chocolate;
}
#check-register {
  margin-right: 20px;
  /*margin-right: 2%;*/
}
.test {
  font-weight: bold !important;
  border-color: #345ddd !important;
}
.p-dropdown-trigger {
  margin-left: -20px !important;
}
.test > .p-dropdown-trigger {
  color: #345ddd !important;
  display: none;
}
.test > .p-dropdown-label {
  color: #345ddd !important;
}
.test > .p-inputtext {
  margin: -5px 30px !important;
}

@media (max-width: 1000px) {
  .png {
    transform: scale(0.8);
    right: 8%;
  }
  .slogan {
    left: 5%;
  }
  .slogan-h2 {
    font-size: 30px;
  }
  .slogan-h3 {
    font-size: 10px;
  }
}

@media (min-width: 1000px) {
  .png {
    transform: scale(0.8);
    right: 3%;
  }
  .slogan-h2 {
    font-size: 30px;
  }
  .slogan-h3 {
    font-size: 13px;
  }
}
@media (min-width: 1150px) {
  .png {
    transform: scale(0.8);
    right: 5%;
  }
  .slogan-h2 {
    font-size: 35px;
  }
  .slogan-h3 {
    font-size: 13px;
  }
}

@media (min-width: 1250px) {
  .png {
    transform: scale(1);
    right: 5%;
  }
  .slogan-h2 {
    font-size: 40px;
  }
  .slogan-h3 {
    font-size: 13px;
  }
}

@media (min-width: 1450px) {
  .png {
    transform: scale(1);
  }
  .slogan-h2 {
    font-size: 45px;
  }
  .slogan-h3 {
    font-size: 14px;
  }
}

@media (min-width: 1550px) {
  .png {
    transform: scale(1.2);
    right: 8%;
    top: 25%;
  }
  .slogan-h2 {
    font-size: 55px;
  }
  .slogan-h3 {
    font-size: 15px;
  }
}

@media (max-height: 720px) {
  .png {
    top: 15%;
  }
}
