

.bg {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background: #999;
}

.headerAccountPatient {
    position: relative;
    width: 100%;
    background-color: #111;
    height: 10vh;
    line-height: 10vh;
    color: snow;
}

.h2AccountPatient {
    font-size: 30px;
}