.p-field {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px 20px 0;
  margin: 20px 40px;
  border-top: 2px solid #efefef;
}

.profile-input {
  flex-basis: 60%;
}

.profile-h2 {
  color: #6c757d;
  margin: 40px;
}
