.container-patient-account {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: rgb(14, 175, 167);
  overflow: hidden;
}

.wrapp-search-img {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  align-items: flex-end;
  justify-content: space-around;
}

.img-doctors {
  width: 575px;
  height: 340px;
}

.form-search {
  display: flex;
  box-sizing: content-box;
  width: 575px;
  height: 50px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.div-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  font-family: Work Sans;
  font-size: 22px;
  color: rgb(250, 248, 248);
  z-index: 1;
  margin-bottom: 50px;
}

.header-patient-account {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.div-menu {
  margin: 20px 60px 0 0;
}

.logo-white {
  width: 180px;
  margin: 10px 0 0 40px;
  z-index: 1;
}

@media (max-width: 1160px) {
  .form-search {
    flex-direction: column;
    height: 160px;
    width: 400px;
  }
}

@media (max-width: 1040px) {
  .wrapp-search-img {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .div-search {
    position: absolute;
    height: 240px;
    margin: 0;
  }

  .form-search {
    flex-direction: column;
  }

  .img-doctors {
    width: 600px;
    height: 400px;
    opacity: 0.2;
    transform: translate(0, -40px);
  }
}

@media (max-width: 605px) {
  .img-doctors {
    width: 450px;
  }

  .div-search {
    font-size: 19px;
  }

  .form-search {
    width: 350px;
  }
}

@media (max-width: 470px) {
  .logo-white {
    display: none;
  }

  .header-patient-account {
    justify-content: flex-end;
  }
}

@media (max-width: 390px) {
  .form-search {
    width: 90vw;
  }

  .h2-patient-account,
  .h3-patient-account,
  .img-doctors {
    display: none;
  }

  .wrapp-search-img {
    flex: 1;
  }
}

@media (min-width: 1570px) {
  .img-doctors {
    width: 800px;
    height: 500px;
  }
  .div-search {
    height: 220px;
    font-size: 26px;
  }
}
