.pDr {
    display: block;
    width: 70vw;
    font-size: 30px;
    margin-right: 50px;
}


.divVisit {

    position: relative;
    height: 350px;
    width: 900px;
    margin: 20px 0 0 60px;
    background-color: chocolate;
}

.hrVisit {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
}