.a {
  position: relative;
  left: calc(50% - 323px);
  width: 647px;
  height: auto;
  overflow: hidden;
}

._divWeek {
  display: flex;
  /*position: relative;*/
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  /*left: 25%;*/
  float: left;
  transition: 2s linear;
  /*overflow: hidden;*/
}
