.list-doctor-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.doctor-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-doctor-li {
  display: block;
}

.list-doctor-header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #008b8b;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

.container-search {
  display: flex;
  align-items: center;
  height: 50px;
  width: 500px;
  min-width: 150px;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
}
.input-wrapp {
  display: flex;
  width: calc(100% - 50px);
}
.button-search {
  background-color: white !important;
  height: 50px !important;
  width: 50px !important;
}
.container-list-map {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.modal-container-list-map {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.wrapp-ul-map {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal-wrapp-ul-map {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  justify-content: center;
  background-color: white;
}
.modal-doctor-ul {
  min-width: 400px;
  flex: 1;
}

.map-container {
  position: sticky;
  top: 0;
  width: 300px;
  height: 600px;
}
.modal-map-container {
  flex: 2;
  position: sticky;
  top: 0;
}
.x-map {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 10px;
  right: 10px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.icon-user {
  font-size: 30px;
}
.arrow-visible {
  display: none;
  color: white;
  font-size: 20px;
  width: 20px;
}
.logo-list {
  width: 200px;
}

.message {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.dropdown-placeholder-shrink {
  width: 100%; /* Zapewnia, że input zajmuje całą szerokość */
}

.input-find-doctor {
  width: 50%;
  margin-right: 5px;
}

@media (max-width: 1450px) {
  .map-container {
    display: none;
  }
}
@media (max-width: 850px) {
  .logo-list {
    display: none;
  }
  .list-doctor-header {
    justify-content: space-between;
  }
}
@media (max-width: 620px) {
  .arrow-visible {
    display: block;
    margin-right: 5px;
  }
  .input-invisible {
    display: none !important;
  }
  .input-find-doctor {
    width: 100%;
  }
  .container-search {
    width: 80%;
    min-width: 250px;
    margin-left: 10px;
  }
  .input-wrapp {
    width: calc(100% - 80px);
  }
}
